
@{
    ViewData["Title"] = "Dashboard";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="fa-pull-right form-inline ml-3">
                <!-- INPUT -->
                <input class="form-control form-control-sm"
                        name="search"
                        id="searchDetail"
                        placeholder="Lastname"
                        type="text"
                        value="" />
                <button onclick="SearchPatient();" class="btn btn-sm btn-success">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <h3 class="card-title">
                Patient List
            </h3><br />
            <span class="text-sm text-muted">TOTAL: <span class="total_number"></span></span>
        </div>
        <div class="card-body">
            <!--Patient LISTS-->
            <div class="patient-list">
                <table class="table table-list table-hover table-responsive table-striped" >
                    <thead>
                        <tr>
                            <th class="text-center">Bed #</th>
                            <th class="text-center">Name </th>
                            <th class="text-center">Age </th>
                            <th class="text-center">Sex </th>
                            <th class="text-center">City/Municipality</th>
                            <th class="text-center">Admiting Diagnosis</th>
                            <th class="text-center">Date and Time of Admission</th>
                            <th class="text-center">Date VS taken </th>
                            <th class="text-center">BP </th>
                            <th class="text-center">HR </th>
                            <th class="text-center">RR </th>
                            <th class="text-center">T</th>
                            <th class="text-center">O2Sat </th>
                            <th class="text-center">Subjective Complaints</th>
                            @*
                        <th class="text-center">Pertinent PE </th>
                        <th class="text-center"> Diagnostic test</th>
                        <th class="text-center"> Lab Results</th>*@
                            <th class="text-center">Medications/ Therapeutics</th>
                            <th class="text-center">Consultant Referral </th>
                            <th class="text-center">Other remarks </th>
                        </tr>
                    </thead>
                    <tbody id="dashboard_table" style="height: 350px; overflow: auto;">
                        <tr>
                            <td colspan="20">
                                Loading....
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        LoadDashboard('');
    })

    function SearchPatient() {
        var search = $('#searchDetail').val();
        console.log(search);
        LoadDashboard(search);
    }
</script>