
@{
    ViewData["Title"] = "Dashboard";
}

<div class="container" style="margin-top: 20px;">
    <div class="card">
        <div class="card-header">
            <div class="fa-pull-right form-inline ml-3">
                <!-- INPUT -->
                <input class="form-control form-control-sm"
                        name="search"
                        id="searchDetail"
                        placeholder="Lastname"
                        type="text"
                        value="@ViewBag.SearchFilter" />
                <button id="searchPatientBtn" class="btn btn-sm btn-success">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <h3 class="card-title">
                Patient List
            </h3><br />
            <span class="text-sm text-muted">TOTAL: <span class="total_number"></span></span>
        </div>
        <div class="card-body patient-list" style="min-height: 100px;">
        </div>
    </div>
</div>


<script>
    $(function () {
        AddLoading();
        LoadDashboard('');
    })

    function SearchPatient() {
        var search = $('#searchDetail').val();
        console.log(search);
        LoadDashboard(search);
    }
</script>