@model Discharge
@{
    ViewData["Title"] = "Discharged";
}

<div class="card" style="margin-top: 20px;">
    <div class="card-header">
        <h4>
            Discharged Patients
        </h4>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th rowspan="2">
                        Name
                    </th>
                    <th colspan="3">
                        Address
                    </th>
                    <th rowspan="2">
                        Reason
                    </th>
                    <th rowspan="2">
                        Date Discharged
                    </th>
                </tr>
                <tr>
                    <th>
                        Date of Birth
                    </th>
                    <th>
                        Age
                    </th>
                    <th>
                        Sex
                    </th>
                </tr>
            </thead>

        </table>
    </div>
</div>