@model Pdr

@{ 
    
}

<style>
    .row{
        padding: 4px;
    }

    .cur-pic{
        object-fit: cover;
    }

</style>

<div class="modal fade" id="pdr-modal" style="font-size: 14px; font-weight:500;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content clearfix">
            <div class="modal-header" align="center">
                <h4>Case no. - @Model.CaseNumber | Bed no. - @Model.BedNumber</h4>

                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="PDRModal">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="CreatedAt" />
                    <input type="hidden" asp-for="PatientNavigation.CreatedAt" />
                    <input type="hidden" asp-for="GuardianNavigation.CreatedAt" />
                    <input type="hidden" asp-for="PatientNavigation.Id" />
                    <input type="hidden" asp-for="GuardianNavigation.Id" />
                    <input type="hidden" asp-for="InterviewedBy" />
                    <input type="hidden" asp-for="Patient" />
                    <input type="hidden" asp-for="Guardian" />
                    <input type="hidden" asp-for="SymptomsContactsId" />
                    <input type="hidden" asp-for="SymptomsContacts.Id" />
                    <input type="hidden" asp-for="Pdrcode" />
                    <input type="hidden" asp-for="Status" />
                    <input type="hidden" asp-for="MayGoHome" />
                    <input type="hidden" id="imgb64" asp-for="PatientNavigation.Picture" />
                    <input type="hidden" asp-for="Attended" />
                    <div class="row">
                        <div class="col-sm-3">
                            <img id="cur-pic" class=" center cur-pic" src="~/img/pdrs/@Model.PatientNavigation.Picture" onerror="this.src='/img/MDMale.jpg'" />
                            <br />
                            <input type="file" placeholder="Open" onchange="ChangePhoto(this,150,150);" style="width: 170px;" />
                        </div>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="btn btn-sm btn-success" asp-controller="ToPdf" asp-action="ViewLabResults" asp-route-pdrId="@Model.Id" target="_blank">View Lab Results</a>
                                </div>
                            </div>
                            <!-- PATIENT ADMISSION INFORMATION -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <strong style="color:cornflowerblue;font-size:medium;">Patient Admission </strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    Case #.:
                                    <input type="text" class="form-control" asp-for="CaseNumber" title="Case number" placeholder="Case Number" />
                                </div>
                                <div class="col-sm-6">
                                    Date of admission:
                                    <input class="form-control" style="font-size:medium;" type="datetime-local" asp-for="DateOfAdmission" />
                                </div>
                                <div class="col-sm-2">
                                    Bed #:
                                    <input type="text" class="form-control" asp-for="BedNumber" title="Bed number" placeholder="Bed Number" />
                                </div>
                            </div>
                            <!-- FACILITIES -->
                            <div class="row">
                                <div class="col-sm-6">
                                    Referring facility:
                                    <input type="text" class="form-control" asp-for="ReferringFacility" title="Referring Facility" placeholder="Referring Facility" />
                                </div>
                                <div class="col-sm-6">
                                    Quarantine facility:
                                    <select class="form-control" asp-for="QuarantineFacility" title="Quarantine Facilty" placeholder="Quarantine Facility">
                                        <option value="">Select Facility</option>
                                        <option value="SHS Covid center">SHS Covid center</option>
                                        <option value="IEC Covid center">IEC Covid center</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">

                            <!-- PATIENT NAME -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <strong style="color: cornflowerblue;font-size:medium;">Personal Information </strong>
                                </div>
                            </div>
                            <!-- PATIENT NAME -->
                            <div class="row">
                                <div class="col-sm-4">
                                    First name:
                                    <input asp-for="PatientNavigation.Firstname" class="form-control" />
                                </div>
                                <div class="col-sm-4">
                                    Middle name:
                                    <input asp-for="PatientNavigation.Middlename" class="form-control" />
                                </div>
                                <div class="col-sm-4">
                                    Last name:
                                    <input asp-for="PatientNavigation.Lastname" class="form-control" />
                                </div>
                            </div>
                            <!-- DOB AGE GENDER -->
                            <div class="row">
                                <div class="col-sm-4">
                                    Date of birth:
                                    <input id="patient_dob" type="date" class="form-control" asp-for="PatientNavigation.DateOfBirth" onchange="GetDate();" />
                                </div>
                                <div class="col-sm-4">
                                    Age:
                                    <input type="number" class="form-control" asp-for="PatientNavigation.Age" readonly />
                                </div>
                                <div class="col-sm-4">
                                    Gender:<br />
                                    <input type="radio" id="male" asp-for="PatientNavigation.Gender" value="true" checked />
                                    <label for="male">Male</label>
                                    <input type="radio" id="female" asp-for="PatientNavigation.Gender" value="false" />
                                    <label for="male">Female</label>
                                </div>
                            </div>
                            <!-- ADDRESS -->
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="hidden" asp-for="PatientNavigation.Province" />
                                    Province:
                                    <select asp-for="PatientNavigation.Province" id="patientProvince" asp-items="ViewBag.ProvincesP" title="Patient province" class="form-control col-sm-12" style="padding:5px" disabled>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    City/Municipality:
                                    <select id="patient_muncity" asp-for="PatientNavigation.Muncity" asp-items="ViewBag.MuncityP" title="Patient City/Municipality" class="form-control col-sm-12" style="padding:5px" onchange="SetBarangay('1'); ToggleAddress();">
                                        <option value="">Select City/Municipaliy</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    Barangay:
                                    <select id="patient_barangay" asp-for="PatientNavigation.Barangay" asp-items="ViewBag.BarangayP" title="Patient Barangay" onchange="ToggleAddress();" class="form-control col-sm-12" style="padding:5px">
                                        <option value="">Select Barangay</option>
                                    </select>
                                </div>
                            </div>
                            <!-- PATIENT ADDRESS -->
                            <div class="row">
                                <div class="col-sm-4">
                                    Contact number:
                                    <input type="text" class="form-control" asp-for="PatientNavigation.ContactNumber" />
                                </div>
                                <div class="col-sm-8">
                                    Address:
                                    <input type="text" class="form-control" asp-for="PatientNavigation.Address" placeholder="Village/Subdivision/Street/Block number" />
                                </div>
                            </div>
                            <!-- ADDRESS -->
                            <div class="row">
                                <div class="col-sm-4">
                                    Occupation:
                                    <input type="text" class="form-control" asp-for="PatientNavigation.Occupation" />
                                </div>
                                <div class="col-sm-4">
                                    Nationality:
                                    <input type="text" class="form-control" asp-for="PatientNavigation.Nationality" />
                                </div>
                                <div class="col-sm-4">
                                    Religion:
                                    <input type="text" class="form-control" asp-for="PatientNavigation.Religion" />
                                </div>
                            </div>
                            <!-- DIVIEDER -->
                            <div class="divider"></div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <strong style="color: cornflowerblue;font-size:medium;">Guardian Details</strong>
                                </div>
                            </div>
                            <!-- GUARDIAN NAME -->
                            <div class="row">
                                <div class="col-sm-3">
                                    First name:
                                    <input type="text" class="form-control" asp-for="GuardianNavigation.Firstname" title="Guardian first name" placeholder="First Name" />
                                </div>
                                <div class="col-sm-3">
                                    Middle name:
                                    <input type="text" class="form-control" asp-for="GuardianNavigation.Middlename" title="Guardian middle name" placeholder="Middle Name" />
                                </div>
                                <div class="col-sm-3">
                                    Last name:
                                    <input type="text" class="form-control" asp-for="GuardianNavigation.Lastname" title="Guardian last name" placeholder="Last Name" />
                                </div>
                                <div class="col-sm-3">
                                    Contact number:
                                    <input type="text" class="form-control" asp-for="GuardianNavigation.ContactNumber" title="Guardian contact number" placeholder="Contact Number" />
                                </div>
                            </div>
                            <!-- GUARDIAN ADDRESS -->
                            <div class="row">
                                <input asp-for="GuardianNavigation.Province" value="2" type="hidden" />
                                <div class="col-sm-4">
                                    Province:
                                    <select asp-for="GuardianNavigation.Province" id="guardianProvince" asp-items="ViewBag.ProvincesG" title="Guardian province" class="form-control" style="padding:5px" disabled>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    City/Municipality:
                                    <select id="guardian_muncity" asp-for="GuardianNavigation.Muncity" asp-items="ViewBag.MuncityG" title="Guardian City/Municipality" class="form-control" style="padding:5px" onchange="SetBarangay('2');">
                                        <option>Select City/Municipaliy</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    Barangay:
                                    <select id="guardian_barangay" asp-for="GuardianNavigation.Barangay" asp-items="ViewBag.BarangayG" title="Guardian Barangay" class="form-control" style="padding:5px">
                                        <option>Select Barangay</option>
                                    </select>
                                </div>
                            </div>
                            <!-- GUARDIAN EXTRA ADDRESS -->
                            <div class="row">
                                <div class="col-sm-12">
                                    Address:
                                    <input type="text" class="form-control" asp-for="GuardianNavigation.Address" placeholder="Village/Subdivision/Street/Block number" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <strong style="color: cornflowerblue;font-size:medium;">Other Informations</strong>
                                </div>
                            </div>
                            <!-- dates -->
                            <div class="row">
                                <div class="col-sm-4">
                                    Date tested:
                                    <input class="form-control" style="font-size:medium;" type="date" asp-for="DateTesting" />
                                </div>
                                <div class="col-sm-4">
                                    Date of onset of symptoms:
                                    <input class="form-control" style="font-size:medium;" type="date" asp-for="DateOnsetSymptoms" />
                                </div>
                                <div class="col-sm-4">
                                    Adimission Temperature:
                                    <input class="form-control" style="font-size:medium;" type="text" asp-for="AdmissionTemperature" />
                                </div>
                            </div>
                            <!-- text areas -->
                            <div class="row">
                                <div class="col-sm-6">
                                    How were the results conveyed?
                                    <textarea class="form-control" asp-for="Results" rows="3"></textarea>
                                </div>
                                <div class="col-sm-6">
                                    History, including onset of symptoms:
                                    <textarea class="form-control" asp-for="History" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    Travel history:
                                    <textarea class="form-control" asp-for="TravelHistory" rows="3"></textarea>
                                </div>
                                <div class="col-sm-4">
                                    Pre-existing conditions:
                                    <textarea class="form-control" asp-for="PreExistingConditions" rows="3"></textarea>
                                </div>
                                <div class="col-sm-4">
                                    Maintenance medications:
                                    <textarea class="form-control" asp-for="Maintenance" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    Food restrictions / Allergies:
                                    <textarea class="form-control" asp-for="FoodRestrictionsAllergy" rows="3"></textarea>
                                </div>
                                <div class="col-sm-4">
                                    Close contact within the last 2 days:
                                    <textarea class="form-control" asp-for="SymptomsContacts.CloseContacts" rows="3"></textarea>
                                </div>
                                <div class="col-sm-4">
                                    Symptoms of patients on Admission:
                                    <textarea class="form-control" asp-for="SymptomsContacts.SymptomsOfPatient" rows="3"></textarea>
                                </div>
                            </div>
                            @if(ViewBag.Errors != null)
                            {
                                <div class="row">
                                    <div class="col-sm-12 center" style="align-content:center">
                                        <span class="text-danger">Please input the required fields.</span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <br /><br />
                    <div class="row">
                        <div class="col-md-6 center" style="padding:10px">
                            <button class="btn btn-block btn-primary btn-lg" data-save="modal">
                                <i class="fas fa-plus"></i>
                                &nbsp;Update record
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/site.js"></script>

<script type="text/javascript">
    $(function () {
        console.log()
        $('.select2').select2({
            theme: 'bootstrap4'
        });
        var out = $('#SymptomsContacts_SymptomsOfPatient');
        console.log(out.val());
    })

    function ToggleAddress() {
        var addressSpan = $('#address');
        var address = '';
        var munct = $('#patient_muncity option:selected');
        var brgy = $('#patient_barangay option:selected');


        if (munct[0].value != '') {
            address = munct[0].text;
        }

        if (brgy[0].value != '') {
            address = brgy[0].text + ', ' + address;
        }

        addressSpan.html(address + ', Cebu');
        console.log(munct);
        console.log(brgy);
    }

    function ToggleText(id) {
        var textin = $('#otherSymptoms');
        if (id[0].checked) {
            textin.removeAttr('hidden');
        }
        else {
            textin.attr('hidden', true);
        }
    }

    function ListSymptoms() {
        var out = $('#SymptomsContacts_SymptomsOfPatient');
        var coughc = $('#cough');
        var coldsc = $('#colds');
        var sthroatc = $('#soreThroat');
        var diarheac = $('#diarrhea');
        var othersc = $('#otherSymptoms');
        var final = '';
        if (coughc[0].checked) {
            final = coughc[0].value + ',' + final;
        }
        if (coldsc[0].checked) {
            final = coldsc[0].value + ',' + final;
        }
        if (sthroatc[0].checked) {
            final = sthroatc[0].value + ',' + final;
        }
        if (diarheac[0].checked) {
            final = diarheac[0].value + ',' + final;
        }
        if (othersc.val() != '') {
            final = othersc.val() + ',' + final;
        }

        out.val(final);

    }
    function GetDate() {
        console.log('sds');
        var date = $('#patient_dob').val();
        CaclAge(date);
    }
</script>
