@model Qdform

@{ 
}

<div class="modal fade" id="QDFormModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>
                    <i class="fa fa-user-md"></i>
                    &nbsp;Quality Monitoring Form - Quarantine Doctor
                </h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="QDForm">
                    <input type="hidden" asp-for="Pdrcode" />
                    <input type="hidden" asp-for="PdrId" />
                    <!--Patient Name-->
                    <!--Health care buddy & Checkup Date-->
                    <div class="row" style="padding:5px">
                        <div class="col-sm-6">
                            <strong style="color: cornflowerblue;font-size:small;">Patient</strong>
                            <strong style="color: crimson;font-size:large;padding:20px">@Model.Pdr.PatientNavigation.GetFullName()</strong>
                        </div>
                        <div class="col-md-2">
                            <strong style="color: cornflowerblue;font-size:small;">Day</strong>
                            <input class="form-control text-xs" asp-for="Day" />
                        </div>
                        <div class="col-sm-4">
                            <strong style="color: cornflowerblue;font-size:small;">Check-up date:</strong>
                            <input class="form-control text-xs" asp-for="DateChecked" />
                        </div>
                    </div>
                    <!--SYMPTOMS-->
                    <div class="panel-heading"><strong style="color: cornflowerblue;font-size:small;">Symptoms</strong></div>
                    <div class="row" style="padding:5px">
                        <fieldset style="border-color:black; border:double; padding:10px" class="col-sm-12">
                            <div class="row waters">
                                <div class="col-sm-6">
                                    <input asp-for="NoSymptoms">&nbsp;No complaints<br>
                                    <input asp-for="Cough">&nbsp;Cough<br>
                                    <input asp-for="Breathing">&nbsp;Difficulty in Breathing<br>
                                    <input asp-for="BodyPain">&nbsp;Body Pain<br>
                                    <input asp-for="MuscleJointPain">&nbsp;Muscle/Joint Pain<br>
                                    <input asp-for="Fever" id="fever"> &nbsp; fever &nbsp;&nbsp;
                                    <input type="text" class="form-control text-sm col-md-6" id="temperature" hidden="hidden" asp-for="Temperature" placeholder="temperature">
                                </div>

                                <div class="col-sm-6">
                                    <input asp-for="Headache">&nbsp;Headache<br>
                                    <input asp-for="ChestPain">&nbsp;Chest Pain<br>
                                    <input asp-for="Confusion">&nbsp;Confusion<br>
                                    <input asp-for="BluishLipsFingers">&nbsp;Bluish Lips<br>
                                    <input asp-for="MentalDistress">&nbsp;Signs of Mental Distress<br>
                                    <input type="checkbox" id="others"> &nbsp; Others &nbsp;&nbsp;
                                    <input type="text" class="form-control text-sm col-md-6" id="other_details" hidden="hidden" asp-for="OtherDetails" placeholder="Please specify">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <!--MAINTENANCE MEDICATION TAKEN-->
                    <div class="row" style="padding:5px">
                        <div class="col-sm-12">
                            <div class="row">
                                <label class="col-sm-6" style="font-size:medium;font-weight:500;padding:10px">Is Maintenance Medication Taken?</label>
                                <div class="row" style="padding:10px">
                                    <input type="radio" id="Yes" asp-for="MedsTaken" value="true">&nbsp;Yes&nbsp;&nbsp;
                                    <input type="radio" id="No" asp-for="MedsTaken" value="false" checked>&nbsp;No
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--QUARANTINE DOCTOR-->
                    <div class="row" style="padding:10px">
                        <label class="col-sm-4" style="font-size:medium;font-weight:500;padding:10px">Signature of Quarantine Doctor</label>
                        <div class="col-sm-8">
                            <select class="form-control" asp-for="SignatureOfQd" asp-items="ViewBag.Doctors">
                                <option value="">Select Doctor</option>
                            </select>
                        </div>
                    </div>

                    @if (ViewBag.Errors != null)
                    {
                        <div class="row">
                            <div class="col-sm-12 center" style="align-content:center">
                                <span class="text-danger">Please input the required fields.</span>
                            </div>
                        </div>
                    }
                    <!--SUBMIT BUTTON-->
                </form>
                <div class="col-sm-12" align="center" style="padding:10px">
                    <div class="col-sm-4" align="right">
                        <button type="button" class="btn btn-block btn-primary btn-lg" data-save="modal">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#checkupDate').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            forceParse: true
        });
        var otherdets = $('#others');
        var fever = $('#fever');


        fever.on('change', function () {
            if (fever[0].checked == true)
                $('#temperature').removeAttr('hidden');
            else
                $('#temperature').attr('hidden',true);
        });

        otherdets.on('click', function () {
            if (otherdets[0].checked == true) {
                $('#other_details').removeAttr('hidden');
            }
            else {
                $('#other_details').attr('hidden', true);
            }
        });
    })
</script>