@model Medications

<div class="modal fade" id="lab_result">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>
                    Add Meds for<br />
                    @Model.Patient.GetFullName()
                </h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="AddMedication">
                    <input hidden asp-for="PatientId" />
                    <div class="row">
                        <div class="col-md-9">
                            Date & Time taken:
                            <input type="datetime-local" class="form-control text-xs" asp-for="CreatedAt" />
                        </div>
                        <div class="col-md-3">
                            Day:
                            <input type="number" class="form-control" asp-for="Day" />
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px; margin-bottom: 0px !important; display:block !important;">
                        Medication:
                        @if (ViewBag.MedCounts != 0)
                        {
                            <button type="button" class="btn btn-xs btn-primary fa-pull-right" id="add_button" style="float:right !important;" onclick="ToggleInput();">
                                new
                            </button>
                        }
                    </div>
                    <div class="row" id="med_row">
                        @if (ViewBag.MedCounts != 0)
                        {
                            <select class="form-control" asp-for="MedName" asp-items="ViewBag.Medications">
                                <option disabled selected hidden>Select Meds</option>
                            </select>
                        }
                        else
                        {
                            <input class="form-control text-sm" asp-for="MedName" placeholder="Medname / Dosage / Route / Frequency" />
                        }
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-6">
                            Discontinued:<br />
                            <input type="radio" id="Yes" asp-for="Discontinued" value="true" checked />
                            <label for="male">Yes</label>
                            <input type="radio" id="No" asp-for="Discontinued" value="false" />
                            <label for="male">No</label>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            Comments:
                            <input type="text" class="form-control" asp-for="Comments" />
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            Attending Nurse:
                            <select class="form-control" asp-for="SignatureNurse" asp-items="ViewBag.Nurses">
                                <option value="">Select Nurse</option>
                            </select>
                        </div>
                    </div>
                </form>
                @if (ViewBag.Errors != null)
                {
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-sm-12 center" style="align-content:center">
                            <span class="text-danger">Please input the required fields.</span>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <div class="form-inline">
                    <button class="btn btn-danger fa-pull-left" data-dismiss="modal">
                        Cancel
                    </button>
                    <button class="btn btn-success fa-pull-right" data-save="modal">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var holder = $('#med_row');
    var button = $('#add_button');
    function ToggleInput() {
        button.attr('hidden',true);
        holder.empty();
        holder.html("<input class='form-control text-sm' placeholder='Medname / Dosage / Route / Frequency' type='text' data-val='true' data-val-length='The field MedName must be a string with a maximum length of 255.' data-val-length-max='255' data-val-required='The MedName field is required.' id='MedName' maxlength='255' name='MedName' value=''>")
    }
</script>