@model DoctorOrders

<div class="modal fade" id="attention" style="font-size: 14px; font-weight:500;">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content clearfix">
            <div class="modal-header">
                <h4>Add Doctor's Orders/Prescription for @Model.Pdr.CaseNumber</h4>
            </div>
            <div class="modal-body">
                <form asp-action="AddOrder">
                    <input hidden asp-for="PdrId" />
                    <input hidden asp-for="TimePosted" />
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-12">
                            Date/Time Ordered:
                            <input class="form-control" asp-for="DateOrdered" type="datetime-local" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-12">
                            Orders/Prescriptions:
                            <textarea class="form-control" asp-for="Orders" rows="3"></textarea>
                        </div>
                    </div>
                    @if (ViewBag.Errors != null)
                    {
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-sm-12 center" style="align-content:center">
                                <span class="text-danger">Please input the required fields.</span>
                            </div>
                        </div>
                    }
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success fa-pull-right" data-save="modal">Submit</button>
            </div>
        </div>
    </div>
</div>
