.dashboard{
    white-space: nowrap;
}

.card .row{
    margin-top: 20px !important;
}

pre{
    padding: 0px !important;
    margin-bottom: 0px !important;
}

table {
    border-collapse: collapse;
}

th, td {
    position: relative;
}

.toggle {
    display: none;
}

.crop{
    height: 80px;
    width: 80px !important;
    overflow: hidden;
}

.responsive{
    width: 100%;
    height: auto;
}

.hide-row{
    display:none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#loading {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url(../img/loading.gif) no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}

.validate{
    border-color: red;
}

input.input-validation-error{
    border-color: red;
}
select.input-validation-error {
    border-color: red;
}

textarea.input-validation-error {
    border-color: red;
}